<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta property="og:site_name" content="desarrollo, development, software, aplicaciones, web" />
    <meta property="og:description" content="desarrollo, development, software, aplicaciones, web" />
    <meta name="keywords" content="desarrollo, development, software, aplicaciones, web" />
    <meta name="description" content="desarrollo, development, software, aplicaciones, web" />
    <meta name="robots" content="index,follow, all" />
    <meta name="author" content="MIM" />
    <link rel="icon" href="/proyecto_notas/templates/img/favicon.png" sizes="32x32">

    <title>mimsoft</title>

    <link type="text/css" href="/proyecto_notas/templates/css/reset.css" rel="stylesheet"/>
    <link type="text/css" href="/proyecto_notas/templates/css/style.css" rel="stylesheet" media="screen"/>


</head>

<!-- CSS -->


<body>

    <!-- cabcero -->

    <header id="cabecero">
        <div id="izq"><a href="/proyecto_notas/templates/html/index.html"><h1 id="nombreempresa">mimsoft</h1></a></div>
        <div id="der">
            <ul id="listasocialmedia">
                <li class="media"><a id="access" href="/proyecto_notas/templates/html/login.html">acceso</a></li>
                <li class="media">
                    <a href="#"></a>
                </li>
                <li class="media">
                    <a href="#"></a>
                </li>
                <li class="media">
                    <a href="#"></a>
                </li>
                <li class="media">
                    <a href="#"></a>
                </li>
            </ul>
        </div>
    </header>

    <!-------- Contenedor princcipal -------------------------->

    <div id="contenedor">
        <!-------- Presentación -------------------------->
        <section id="presentacion">
            <div id="anclahead"></div>
            <h3 id="prereclamo">TODAS TUS IDEAS EN UN MISMO LUGAR</h3>
            <h2 id="reclamo">¡HAZLO SIMPLE!</h2>
            <div class="boton">
                <a class="aboton" href="/proyecto_notas/templates/html/signup.html">REGISTRATE</a>
            </div>
            <div class="idecives">
                <img id="visible" src="/proyecto_notas/templates/img/decives.png" alt="imagennotafotolista" class="responsive-image ">
                <img id="oculto" src="/proyecto_notas/templates/img/decive.png" alt="imagennotafotolista" class="responsive-image ">
            </div>

        </section>
        <!-------- Sección 1 -------------------------->
        <section class="contenido">
            <div class="mitadizq" id="s1">
                <h2>Piensa, anota, hazlo.</h2>
                <p class="description">Crea una lista de proyectos pendientes, anota un recordatorio, o haz una foto a un boceto. Una nota puede ser lo que tu quieras que sea. Y una vez que crees una nota, podrás acceder a ella donde quiera que vayas, siempre.</p>
            </div>
            <div class="mitadder" id="s2">
                <img src="/proyecto_notas/templates/img/seccion1.png" alt="imagennotafotolista" class="responsive-image ">
            </div>

        </section>
        <!-------- Sección 2 -------------------------->
        <section class="contenido" >
            <div class="mitadizq" id="s4">
                <img src="/proyecto_notas/templates/img/seccion2.png" alt="imagennotafotolista" class="responsive-image ">
            </div>
            <div class="mitadder" id="s5">
                <h2>Accede desde cualquier lugar<br>
desde cualquier dispositivo..</h2>
                <p class="description">Captura una nota una vez e inmediatamente estará disponible en todos tus dispositivos. Nunca tendrás que preocuparte por saber dónde has guardado algo, porque todo estará en Evernote, y Evernote estará contigo donde quiera que te encuentres.</p>
            </div>
        </section>
        <!-------- Sección 3 -------------------------->
        <section class="contenido"  >
            <div class="mitadizq" id="s6">
                <h2>Compartir ideas es una buena idea</h2>
                <p class="description">Comparte aquello que te importa, con las personas que te importan. Captura todos los pequeños momentos de tu vida y compártelos desde donde quiera que te encuentres. O comparte grandes ideas, colaborando a la perfección con tus compañeros de trabajo en una libreta grupal.</p>
            </div>
            <div class="mitadder" id="s7">
                <img src="/proyecto_notas/templates/img/seccion3.png" alt="imagennotafotolista" class="responsive-image ">
            </div>
        </section>
        <!-------- Sección 4 -------------------------->
        <section class="contenido">
            <div class="mitadizq" id="s8">
                <img src="/proyecto_notas/templates/img/seccion4.png" alt="imagennotafotolista" class="responsive-image ">
            </div>
            <div class="mitadder" id="s9">
                <h2>Encuéntralo rapidamente! </h2>
                <p class="description">Tanto si se trata de textos, imágenes, o documentos, guardas las cosas por un motivo. Esta es la razón por la que Evernote se asegura de que las notas que has guardado, sean fáciles de encontrar. Incluso puedes buscar palabras escritas a mano que se encuentren dentro de tus notas.</p>
        </section>
        <!-------- Reclaim -------------------------->
        <section class="repeatclaim">
            <h3 id="prereclamo">TODAS TUS IDEAS EN UN MISMO LUGAR</h3>
            <h2 id="reclamo">¡HAZLO SIMPLE!</h2>
            <div class="boton">
                <a class="aboton" href="/proyecto_notas/templates/html/signup.html">REGISTRATE</a>
            </div>
        </section>
    </div>

    <!-------- pie prueba

    <footer>
        <div id="superior">
            <div class="infofooter1">
                <h3 id="newsletter">GET OUR NEWSLETTER</h3>
            </div>
            <div class="infofooter2">
                <input type="text" name="email" value="" placeholder="enter your email address" class="textinput">
                <a class="sboton" href="#">SEND</a>
            </div>
        </div>
        <div id="inferior">
            <p class="mini">Copyright 2016 nappkin Studio. All right reserved</p>
            <p class="mini">Privacy & Legal Design by nappkin.com</p>
        </div>
    </footer>

-------------------------------------------->



    <!-------- pie -------------------------->
    <footer>
        <div id=contenedorfooter>
            <div id="superior">
                <div class="contenedorlistapie">
                    <div class="titulofooter">
                        <h4 class="titulolista">MIMSOFT</h4>
                    </div>
                    <div id="menuporque">
                        <ul class="listapie">
                            <li class="">
                                <a href="#">Planes</a>
                            </li>
                            <li>
                                <a href="#anclalibros">Negocios</a>
                            </li>
                            <li>
                                <a href="#anclaaudiobooks">Descargas</a>
                            </li>
                            <li>
                                <a href="#anclamagazine">Productos</a>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>
                <div class="contenedorlistapie">
                    <div class="titulofooter">
                        <h4 class="titulolista">Empresa</h4>
                    </div>
                    <div id="menuporque">
                        <ul class="listapie">
                            <li><a href="index.html">Blog</a></li>
                            <li><a href="index.html">Empleo</a></li>
                            <li><a href="index.html">Tienda</a></li>
                            <li><a href="index.html">Política de Privacidad</a></li>
                            <li><a href="index.html">Términos y Condiciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contenedorlistapie">
                    <div class="titulofooter">
                        <h4 class="titulolista">Soporte</h4>
                    </div>
                    <div id="menuporque">
                        <ul class="listapie">
                            <li><a href="index.html">FAQS</a></li>
                            <li><a href="index.html">Foros</a></li>
                            <li><a href="index.html">Tutoriales</a></li>
                        </ul>
                    </div>
                </div>


                <div class="contenedorlistapie2">
                    <div class="titulofooter">
                        <h4 class="titulolista">SUSCRIBETE A NUESTRA NEWSLETTER</h4>
                    </div>
                    <div id="menuporque">
                        <form method="post" action="index.html" id="formnews">
                            <div id="centrador">
                                <div>
                                    <input type="text" name="nombre" value="" placeholder="nombre completo" class="text">
                                    <input type="text" name="mail" value="" placeholder="tuemail@dominio.com" class="text" id="emailnews">
                                </div>
                                <div class="remember_me">
                                    <form action="../../index.php" id="news" >
                                    <input type="checkbox" name="remember_me" id="remember_me" id="nombreusuario">
                                    <span id="check">Envíame noticias semanales</span>
                                    <input type="submit" name="commit" value="Enviar" id="sendbutton">    
                                    </form>
                                    
                                </div>
                            </div>
                        </form>
                        <div id="divsocial">
                            <p class="miniinfo">Síguenos: </p>
                            <div>
                                <ul class="listasocial">

                                    <li>
                                        <a href="index.html"> <img src="/proyecto_notas/templates/img/icons/facebook2.png" alt="banner" class="responsive-image4"></a>
                                    </li>
                                    <li>
                                        <a href="index.html"> <img src="/proyecto_notas/templates/img/icons/googleplus2.png" alt="banner" class="responsive-image4"></a>
                                    </li>
                                    <li>
                                        <a href="index.html"> <img src="/proyecto_notas/templates/img/icons/twitter2.png" alt="banner" class="responsive-image4"></a>
                                    </li>
                                    <li>
                                        <a href="index.html"> <img src="/proyecto_notas/templates/img/icons/youtube2.png" alt="banner" class="responsive-image4"></a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div id="inferior">
            <p class="mini">Copyright 2016 mimsoft Studio. All right reserved</p>
            <p class="mini">Privacy & Legal Design by mimsoft.com</p>
        </div>
    </footer>

    <script src="/proyecto_notas/templates/js/jquery-3.1.1.min.js"></script>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/2542/jquery.scrollie.min_1.js'></script>
    <script src="/proyecto_notas/templates/js/script.js"></script>
    <script src="/proyecto_notas/templates/js/smoothscroll.js"></script>

</body>

</html>