<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <link rel="icon" href="/proyecto_notas/templates/img/favicon.png" sizes="32x32">
    <meta property="og:site_name" content="desarrollo, development, software, aplicaciones, web" />
    <meta property="og:description" content="desarrollo, development, software, aplicaciones, web" />
    <meta name="keywords" content="desarrollo, development, software, aplicaciones, web" />
    <meta name="description" content="desarrollo, development, software, aplicaciones, web" />
    <meta name="robots" content="index,follow, all" />
    <meta name="author" content="MIM" />


    <title>MIMSoft</title>
    <link type="text/css" href="/proyecto_notas/templates/css/reset.css" rel="stylesheet"/>
    <link type="text/css" href="/proyecto_notas/templates/css/style-register.css" rel="stylesheet" media="screen, projection"/>
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/validar-registro.js" defer></script>

</head>

<!-- CSS -->


<body>
    
        <header id="cabecero">
            <div id="izq"><a href="/proyecto_notas/index.php"><h1 id="nombreempresa">mimsoft</h1></a></div>
            <div id="der">
                <ul id="listasocialmedia">
                     <li><a id="access" href="/proyecto_notas/templates/html/login.html">access</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
    </header>
    
    <div id="contenedorflexmensajesregistro">
    <div class='formmensa animated flipInX'>
        <h2>¡Hola de nuevo!</h2>
        <p id="tipomensaje">{contenido}</p>
    </div>
    </div>

    <!----------------------------------script------------------------------------->

</body>

</html>